.item{
  margin: 4% 0;
}
img{
  max-width: 60%;
  height:410px;
  display: block;
  margin: 0 auto;
}
span{
  display: block;
  text-align: center;
  font-family: "Cutive Mono", Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
.button{
  text-transform: uppercase;
  letter-spacing: .2em;
  color: #ff5269;
  border: 1px solid #cfdaea;
  padding: 1em;
  background: #fff;
  display: block;
  margin: 5px auto;
  zoom: 1;
  margin-top: 4px;
}
.description{
  padding: 20px;
}
